# Ejemplo de como debe ser la DB
# Copia el archivo en un .env que sea ignorado por Github y pon los datos realaes de la DB ahi

B_HOST=localhost
DB_PORT=5432
DB_USER=tu_usuario_aqui
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=Notificator